.profile {
    border-radius: 50%;
    height: 150px;
  }
  .profile:hover {
      border-radius: 50%;
      height: 170px;
    }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    width: 5%;
  }
  h1,h2,h3,h4 {
    color: #66bfbf;
  }
  body {
    background-color: #eaf6f6;
  }
